<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
    <title>Name to Q</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="/">Name to Q</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/">New Query</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://wikidata.org/wiki/User:Majavah/Name_to_Q">Help</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container mt-3">
    <p>
        Convert a list of page names to a list of Wikidata Q numbers.
    </p>

    {% block content %}{% endblock %}

    <hr/>
    <a href="https://wikidata.org/wiki/User:Majavah/Name_to_Q">Name to Q</a>
    (running Git commit <a href="https://phabricator.wikimedia.org/rTNTQ{{ revision }}" class="text-muted">{{ revision }}</a>),
    a tool by <a href="https://wikidata.org/wiki/User:Majavah">Majavah</a>.
</div>
</body>
</html>