{% extends "base.html" %}
{% block content %}
    <form action="/" method="post">
        <div class="form-group">
            <label for="wiki">Wiki database name</label>
            <input type="text" id="wiki" name="wiki" value="enwiki" class="form-control">
        </div>

        <div class="form-group">
            <label for="pages">Pages to search, one per line</label>
            <textarea name="pages" id="pages" class="form-control h-50" style="min-height: 50vh;"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Run query</button>
    </form>
{% endblock %}