{% extends "base.html" %}
{% block content %}
    <div class="form-group">
        <label for="results">Resulting Q numbers</label>
        <textarea name="results" id="results" readonly class="form-control" style="min-height: 50vh;">{{ results }}</textarea>
    </div>
{% endblock %}